@use "../utilities/mixins/grid-state";
@use "../utilities/mixins/layout";
@use "../utilities/mixins/push-pull";
@use "../utilities/mixins/text-align";
@use "../../base/extends/clearfix";

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
.clearfix {
    &:before,
    &:after {
        content: ""; /* 1 */
        display: table; /*2 */
    }

    &:after {
        clear: both;
    }
}

/*
 * Float helpers
 */
.push {
    float: right !important;

    [dir="rtl"] & {
        float: left !important;
    }
}

.pull {
    float: left !important;

    [dir="rtl"] & {
        float: right !important;
    }
}
// XS, S, M, L viewports.
@include push-pull.push-pull(xs);
@include push-pull.push-pull(s);
@include push-pull.push-pull(m);
@include push-pull.push-pull(l);

/*
 * Layout helpers
 */
.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

// XS, S, M, L viewports.
@include layout.layout(xs);
@include layout.layout(s);
@include layout.layout(m);
@include layout.layout(l);

/*
 * Text align helpers
 */
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

// XS, S, M, L viewports.
@include text-align.text-align(xs);
@include text-align.text-align(s);
@include text-align.text-align(m);
@include text-align.text-align(l);

// Grid state detection.
.grid-state-indicator {
    position: absolute;
    top: -99999px;
    left: -99999px;
    height: 1px;
    width: 0;

    [dir="rtl"] & {
        left: auto;
        right: -99999px;
    }
}
// Breakpoint driven changes
@include grid-state.grid-state(s, 1px);
@include grid-state.grid-state(m, 2px);
@include grid-state.grid-state(l, 3px);
