@use "sass:color";
// Add percentage of white to a color
@function tint($color, $percent){
  @return color.mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return color.mix(black, $color, $percent);
}
