@use "sass:list";
// Convert shorthand to the 4-value syntax

@function unpack($shorthand) {
  @if list.length($shorthand) == 1 {
    @return list.nth($shorthand, 1) list.nth($shorthand, 1) list.nth($shorthand, 1) list.nth($shorthand, 1);
  }
  @else if list.length($shorthand) == 2 {
    @return list.nth($shorthand, 1) list.nth($shorthand, 2) list.nth($shorthand, 1) list.nth($shorthand, 2);
  }
  @else if list.length($shorthand) == 3 {
    @return list.nth($shorthand, 1) list.nth($shorthand, 2) list.nth($shorthand, 3) list.nth($shorthand, 2);
  }
  @else {
    @return $shorthand;
  }
}

